doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    .page
      h1= title

      .navigation
        a(href="{{ url_for('timeline') }}") public timeline
        |  |  
        a(href="{{ url_for('public_timeline') }}") sign up
        |  |  
        a(href="{{ url_for('login') }}") sign in

      .body
        include timeline.jade  

      .footer
         MiniTwit — A NodeJS project
