doctype html
html
  head
    title MiniTwit
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    .page
      h1 MiniTwit

      .navigation
        a(href="/api/") public timeline
        |  |  
        a(href="/api/signup") sign up
        |  |  
        a(href="/api/signin") sign in

      if flash
        ul.flashes
          li #{flash}

    
      .body
        block content  

      .footer
         MiniTwit — A NodeJS project
