doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    .page
      h1= title

      .navigation
        a(href="/api/") public timeline
        |  |  
        a(href="/api/signup") sign up
        |  |  
        a(href="/api/signin") sign in

    
      .body
        block content  

      .footer
         MiniTwit — A NodeJS project
